/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Light gray background */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to viewport height */
}

header {
    background-color: #333; /* Dark gray background for header */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

.logo_Reverso_Small {
    display: block;
}

main {
    margin: 20px;
    flex-grow: 1; /* Allow main content to grow to fill remaining space */
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-label {
    margin-right: 10px;
}

.ComboBoxEntites {
    margin-bottom: 20px;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.Bottons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Bottons button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Bottons button:hover {
    background-color: #45a049; /* Darker green */
}

.btnQuit button {
    padding: 10px 20px;
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnQuit button:hover {
    background-color: #cc0000; /* Darker red */
}

footer {
    background-color: #333; /* Dark gray background for footer */
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
}
